.wishlist-details {
    max-width: 900px;
    margin: 2rem auto;
    padding: 0 1rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (max-width: 600px) {
    .reading-details-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .reading-details-cover {
        width: 110px;
        height: 165px;
    }
}

/* Back */
.wishlist-details > button {
    align-self: flex-start;
    width: fit-content;
}

/* Header */
.wishlist-details-header {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.wishlist-details-header h1 {
    margin: 0;
}