input,
select,
textarea {
    width: 100%;
    padding: 0.6rem 0.8rem;

    border-radius: 8px;
    border: 1px solid #dcdcdc;

    font-size: 1rem;
    background-color: white;

    transition:
            border-color 0.15s ease,
            box-shadow 0.15s ease;
}


input:focus,
select:focus,
textarea:focus {

    outline: none;

    border-color: #888;

    box-shadow:
            0 0 0 3px rgba(0,0,0,0.08);
}


label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
}